<footer class="footer-page">
    <div class="footer-page__wrap">

      <h2 class="footer-page__heading">Контакты</h2>

      <div class="footer-page__inner-wrap">

        <div class="footer-page__mail">
          <p class="footer-page__text">Пишите нам:</p>
          <a href="mailto:mail@mail.ru" class="footer-page__link">mail@mail.ru</a>
        </div>

        <div class="footer-page__contacts">
          <p class="footer-page__text">Звоните нам:</p>
          <a href="tel:+375297117786" class="footer-page__link">+375(029)711-77-86</a>
        </div>

      </div>

      <div class="footer-page__left">
        <p class="footer-page__text">Индивидуальный предприниматель <span>Трубкин Е.А.</span></p>
        <p class="footer-page__text">Свидетельство о гос.регистрации <span>№??????????????</span></p>
      </div>
    </div> <!-- footer-page__wrap -->
  </footer>
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/custom.js"></script>

</body>
</html>
