.cooperation__heading {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;

  text-align: center;
  line-height: 1.4;
}

.cooperation__heading {
  padding: 0 30px;
  color: @header-text-color;
  text-shadow: 3px 2px 1px #050505;
}
