// переменные шрифтов

@font-family: "Open-sans", "Arial", sans-serif;

@font-size-mini: 12px;
@font-size-normal: 16px;
@font-size-big: 24px;

@font-weight-normal: normal;
@font-weight-bold: bold;

@line-height-small: 12px;

// переменные для медиа выражений

@tablet-widths: ~"(min-width: 600px)";
@desktop-widths: ~"(min-width: 850px)";

// переменные для цвета

@bg-color: #fff;
@text-color: #000;
@header-bg-color: rgba(24, 23, 53, 0.71);
@header-text-color: #84f1e9;
@border-input-color: #3849dc;
@border-color: #333;
@btn-menu-hover: #f4f4a3;
@btn-menu-active: #f49f9f;
@form-btn-bg: #74ceaf;
@footer-bg: #252733;
@footer-text-color: #bdd9eb;

// переменные для кнопок

@burger-color: red;
