// переменные шрифтов

@font-family: "Open-sans", "Arial", sans-serif;

@font-size-mini: 12px;
@font-size-normal: 16px;
@font-size-big: 24px;
@font-size-biggest: 30px;

@font-weight-normal: normal;
@font-weight-bold: bold;

@line-height-small: 12px;
@line-height-big: 22px;
@line-height-biggest: 30px;

// переменные для медиа выражений

@tablet-widths: ~"(min-width: 650px)";
@desktop-widths: ~"(min-width: 850px)";

// переменные размеров

@max-widht-desktop: 1000px;

// переменные для цвета

@bg-color: #fff;
@text-color: #000;

@header-bg-color: #565179;
@heading-text-color: #ff0;

@border-input-color: #3849dc;
@border-color: #333;
@border-section: #ca7413;

@btn-menu-hover: #f4f4a3;
@btn-menu-active: #f49f9f;

@form-title: #fff;
@form-btn-bg: #74ceaf;
@form-btn-focus: #ff0;
@form-warning-text: #ff4e4e;

@about-text-color: #fff;

@cooperation-text-color: #fff;

@footer-bg: #252733;
@footer-text-color: #bdd9eb;


// переменные для кнопок

@burger-color: #74ceaf;
